@(models: List[_ <: BaseModel], modalId: String, caption: String, id: String)

<div id="@modalId" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="selectModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="selectModalLabel">Выбрать из списка
          <a class="anchorjs-link" href="#selectModalLabel"><span class="anchorjs-icon"></span></a>
        </h4>
      </div>
      <div class="modal-body">
        <div id="modal-list" class="list-group">
        @for(model<-models){
          <a href="#" onclick="selectItem(this, '@modalId', '@caption', '@id')" id="@model.getId" class="list-group-item">@model.getName</a>
        }
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="setItem('@modalId', '@caption', '@id')" class="btn btn-primary">Выбрать</button>
      </div>

    </div>
  </div>
</div>