@(contractors: List[Contractor], contractorForm: Form[Contractor])

@import helper._
@import components._

@main("Контакты"){

  @if(contractorForm.hasErrors){

    @for(error <- contractorForm("name").errors) {
      <p>@error.message</p>
    }
  }

  <a href="@routes.Contractors.add()" class="btn btn-primary">Добавить контрагента</a>

  <div class="row">
    <div class="col-md-1"><strong>Номер</strong></div>
    <div class="col-md-3"><strong>Имя</strong></div>
    <div class="col-md-2"><strong>Основной контакт</strong></div>
    <div class="col-md-2"><strong>Тип</strong></div>
    <div class="col-md-2"><strong>Телефон</strong></div>
    <div class="col-md-2"><strong></strong></div>
  </div>
  <hr class="min">
  @for(contractor<-contractors){

    <a href="@routes.Contractors.contractor(contractor.getId)">
      <div class="row ">
        <div class="col-md-1">@contractor.getId</div>
        <div class="col-md-3">@contractor.getName</div>
        <div class="col-md-2">@controllers.Contacts.contactByContractor(contractor)</div>
        <div class="col-md-2">@if(contractor.getContractorType != null) {
          @contractor.getContractorType.getName
        }</div>
        <div class="col-md-2">@controllers.Contacts.phoneByContractor(contractor)</div>
        <div class="col-md-2 btn-toolbar" role="toolbar">
          <a href="@routes.Contractors.contractor(contractor.getId)" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
          @form(routes.Contractors.delete(contractor.getId), 'style ->"display:inline") {
            <button name="continueBtn"  data-toggle="modal" class="btn btn-default btn-sm">
              <i class="fa fa-trash-o fa-lg"></i>
            </button>
          }
        </div>
      </div>
    </a>
    <hr class="min">
  }

  @confirm("Удалить контрагента?",
    "Подтвертите, если хотите удалить контрагента. Удаленные данные будет невозможно восстановить",
    "danger",
    "Удалить")

}
