@(contractor: Contractor)
@main("Contractor"){
  <div class="col-md-8">
    <div class="col-md-4 row">
      <h4 class="text-muted">Наименование</h4>
    </div>
    <div class="col-md-4">
      <h4>@contractor.getName</h4>
    </div>
    <div class="clearfix"></div>
    @if(controllers.Contacts.contactByContractor(contractor) != null) {
    <div class="col-md-4 row">
      <h4 class="text-muted">Основной контакт</h4>
    </div>
    <div class="col-md-4">
        <h4><a href="@routes.Contacts.contact(controllers.Contacts.contactByContractor(contractor).getId)">
        @controllers.Contacts.contactNameByContractor(contractor)
        </a></h4>
    </div>
    }
  </div>
  <div class="col-md-4">
    <h4>Тип</h4>
    @if(contractor.getContractorType != null) {
      @contractor.getContractorType.getName
    }
  </div>
  <div class="clearfix"></div>
  <div class="col-md-8">
    <div class="col-md-4 row">
      <h4 class="text-muted">Телефон</h4>
    </div>
    <div class="col-md-4">
      <h4>@controllers.Contacts.phoneByContractor(contractor)</h4>
    </div>
  </div>
  <div class="clearfix"></div>
}
