@(contractor: Contractor)

@main("Contractor"){
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>Наименование</dt>
      <dd><p>@contractor.getName</p></dd>
      @if(controllers.Contacts.contactByContractor(contractor) != null) {
        <dt>Основной контакт</dt>
        <dd>
          <p>
            <a href="@routes.Contacts.contact(controllers.Contacts.contactByContractor(contractor).getId)">
            @controllers.Contacts.contactNameByContractor(contractor)
            </a>
          </p>
        </dd>
      }
      <dt>Телефон</dt>
      <dd>
        <p>
        @if(controllers.Contacts.phoneByContractor(contractor) != null) {
          <i class="fa fa-phone fa-lg"></i> @controllers.Contacts.phoneByContractor(contractor)
        } else {
          Не указан
        }
        </p>
      </dd>
    </dl>
  </div>

  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>Тип</dt>
      <dd>
        <p>
        @if(contractor.getContractorType != null) {
          @contractor.getContractorType.getName
        }
        </p>
      </dd>

    </dl>

  </div>
    <div class="clearfix"></div>
  <div class="panel-body">

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#general">Основная информация</a></li>
      <li><a data-toggle="tab" href="#deals">Сделки</a></li>
    </ul>

    <div class="tab-content">
      <div id="general" class="tab-pane fade in active">
                  <div class="col-md-4">
            <h4>Адрес</h4>
            <p><abbr title="Адрес"><i class="fa fa-map-marker"></i></abbr>
              @contractor.getAdress</p>
          </div>
      </div>
      <div id="deals" class="tab-pane fade">
        @if(Deals.dealsByContractor(contractor).size() > 0) {
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Номер</th>
                <th>Имя</th>
                <th>Контрагент</th>
                <th>Стадия сделки</th>
              </tr>
            </thead>
            <tbody>
            @for(deal <- Deals.dealsByContractor(contractor)) {
              <tr>
                <th scope="row">@deal.getId</th>
                <td>@deal.getName</td>
                <td>
                @if(deal.getContractor != null) {
                  @deal.getContractor.getName
                }
                </td>
                <td>
                  @if(deal.getDealPhase != null) {
                    @deal.getDealPhase.getName
                  } else {
                    @Messages("info.null")
                  }
                </td>
              </tr>
            }
            </tbody>
          </table>
        } else {
          <br>
          <p>Продаж пока нет</p>
        }

      </div>
    </div>
  </div>
}
