@(contractors: List[Contractor])

@import helper._
@import components._

@main(Messages("menu.contractors")){

  <a href="@routes.Contractors.add()" class="btn btn-primary"><i class="fa fa-plus"></i> @Messages("actions.addContractor")</a>

  <div class="row">
    <div class="col-md-3"><strong>Наименование</strong></div>
    <div class="col-md-3"><strong>Основной контакт</strong></div>
    <div class="col-md-2"><strong>Тип</strong></div>
    <div class="col-md-2"><strong>Телефон</strong></div>
    <div class="col-md-2"><strong></strong></div>
  </div>
  <hr class="min col-md-11">
  <div class="clearfix"></div>
  @for(contractor<-contractors){

      <div class="row">
        <div class="col-md-3">
          <a href="@routes.Contractors.contractor(contractor.getId)">
            @contractor.getName
          </a>
        </div>
        <div class="col-md-3">
          @if(controllers.Contacts.contactsByContractor(contractor).size() > 0) {
              <a href="@routes.Contacts.contact(controllers.Contacts.contactsByContractor(contractor).get(0).getId)">
                @controllers.Contacts.contactsByContractor(contractor).get(0).getName
              </a>
            }
        </div>
        <div class="col-md-2">@if(contractor.getContractorType != null) {
          @contractor.getContractorType.getName
        }</div>
        <div class="col-md-2">
        @if(controllers.Contacts.contactsByContractor(contractor).size() > 0) {
          @controllers.Contacts.contactsByContractor(contractor).get(0).getCommunication.getWorkPhone
        }
        </div>
        <div class="col-md-2 btn-toolbar" role="toolbar">
          <a href="@routes.Contractors.contractor(contractor.getId)" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
          @form(routes.Contractors.delete(contractor.getId), 'style ->"display:inline") {
            <button name="continueBtn"  data-toggle="modal" class="btn btn-default btn-sm">
              <i class="fa fa-trash-o fa-lg"></i>
            </button>
          }
        </div>
      </div>
    <hr class="min col-md-11">
  }

  @confirm(Messages("actions.deleteContractor"),
    "Подтвертите, если хотите удалить контрагента. Удаленные данные будет невозможно восстановить",
    "danger",
    Messages("actions.delete"))

}
