@(contractorForm: Form[Contractor])

@import helper._

@main("Contractor"){
  <h2>Добавить контрагента</h2>

  @form(routes.Contractors.save()) {
    <fieldset>
      @inputText(contractorForm("name"), '_label -> "Имя", 'class -> "form-control")
      @select(
        contractorForm("contractorType.id"),
        options(ContractorTypes.options),
        '_label -> "Тип", '_default -> "-- Выбрать --",
        '_showConstraints -> false, 'class -> "form-control")
    </fieldset>
    <input type="submit" value="@Messages("actions.create")" class="btn primary">
  }
}
