@(orderForm: Form[OrderEntity])

@import controllers.Application.getCurrentDate
@import models.submodels.OrderState
@import helper._
@import components._

@main("Создать заказ"){
  <h2>@Messages("actions.addOrder")</h2>

  @form(routes.Orders.save(), 'id -> "formSender") {
    <fieldset>
      @inputText(orderForm("name"), '_label -> "Наименование", 'class -> "form-control")
      @inputText(orderForm("number"), '_label -> "Номер", 'class -> "form-control")
      <div class="input-group">
      @inputText(orderForm("date").copy(value=Some(getCurrentDate)),
        '_label -> "Дата",
        'class -> "form-control date-picker")
      </div>
      <dl id="contractor_field">
        <dt><label for="caption">Контрагент</label></dt>
        <dd>
          <a href="#" data-toggle="modal" data-target="#selectContractor">
            <div class="input-group">
              <input type="text" class="form-control" id="contractorCaption" aria-label="Контрагент">
              <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
          </a>
        </dd>
        <div class="hidden">
        @inputText(orderForm("contractor.id"))
        </div>
      </dl>
      <dl id="contact_field">
        <dt><label for="caption">Контакт</label></dt>
        <dd>
          <a href="#" data-toggle="modal" data-target="#selectContact">
            <div class="input-group">
              <input type="text" class="form-control" id="contactCaption" aria-label="Контакт">
              <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
          </a>
        </dd>
        <div class="hidden">
        @inputText(orderForm("contact.id"))
        </div>
      </dl>

      <div class="input-group">
      @inputText(orderForm("planExecutionDate").copy(value=Some(getCurrentDate)),
        '_label -> "Плановая дата выполнения",
        'class -> "form-control date-picker")
      </div>
      <div class="input-group">
      @inputText(orderForm("executionDate").copy(value=Some(getCurrentDate)),
        '_label -> "Дата выполнения",
        'class -> "form-control date-picker")
      </div>

      @inputText(orderForm("amount"), '_label -> "Итого", 'class -> "form-control")
      @inputText(orderForm("payment"), '_label -> "Сумма оплаты", 'class -> "form-control")
      @select(
        orderForm("orderState"),
        options(OrderState.options),
        '_label -> "Состояние заказа", '_default -> "-- Выбрать --",
        '_showConstraints -> false, 'class -> "form-control")
    </fieldset>
    <input type="submit" value="@Messages("actions.create")" onclick="convertDate()" class="btn btn-primary">
  }

  @listModal(Contractor.findAll(), "selectContractor", "contractorCaption", "contractor_id")
  @listModal(Contact.findAll(), "selectContact", "contactCaption", "contact_id")
}