@(order: OrderEntity, orderForm: Form[OrderEntity])

@import utils.Util._
@import models.submodels.OrderState
@import helper._
@import components._

@contractorName = @{ name(order.getContractor) }
@contractorId = @{ id(order.getContractor) }

@contactName = @{ name(order.getContact) }
@contactId = @{ id(order.getContact) }


@main(""){
  @form(routes.Orders.update(order.getId), 'id -> "formSender") {
    <fieldset>
      @inputText(orderForm("name").copy(value=Some(order.name)),
        '_label -> "Наименование", 'class -> "form-control")
      @inputText(orderForm("number").copy(value=Some(order.number)),
        '_label -> "Номер", 'class -> "form-control")

      @date(orderForm("date"), order.jsDate, '_label -> "Дата",
        'class -> "form-control date-picker")

      <dl id="contractor_field">
        <dt><label for="caption">Контрагент</label></dt>
        <dd>
          <a href="#" data-toggle="modal" data-target="#selectContractor">
            <div class="input-group">
              <input type="text" class="form-control" id="contractorCaption" aria-label="Контрагент" value="@contractorName">
              <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
          </a>
        </dd>
        <div class="hidden">
        @inputText(orderForm("contractor.id").copy(value = Some(contractorId)))
        </div>
      </dl>
      <dl id="contact_field">
        <dt><label for="caption">Контакт</label></dt>
        <dd>
          <a href="#" data-toggle="modal" data-target="#selectContact">
            <div class="input-group">
              <input type="text" class="form-control" id="contactCaption" aria-label="Контакт" value="@contactName">
              <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
          </a>
        </dd>
        <div class="hidden">
        @inputText(orderForm("contact.id").copy(value = Some(contactId)))
        </div>
      </dl>

      @date(orderForm("planExecutionDate"), order.jsPlanExecutionDate(), '_label -> "Плановая дата выполнения",
        'class -> "form-control date-picker")
      @date(orderForm("executionDate"), order.jsExecutionDate, '_label -> "Дата выполнения",
        'class -> "form-control date-picker")

      @inputText(orderForm("amount").copy(value = Some(order.amount)), '_label -> "Итого", 'class -> "form-control")
      @inputText(orderForm("payment").copy(value = Some(order.payment)), '_label -> "Сумма оплаты", 'class -> "form-control")

      @selectEx(orderForm("orderState"), options(OrderState.options), order.getOrderState.name(),
        'class -> "form-control", '_label -> "Состояние заказа")
    </fieldset>
    <input type="submit" value="@Messages("actions.save")" onclick="convertDate()" class="btn btn-primary">
  }

  @listModal(Contractor.findAll(), "selectContractor", "contractorCaption", "contractor_id")
  @listModal(Contact.findAll(), "selectContact", "contactCaption", "contact_id")
}
