@(order: OrderEntity, orderForm: Form[OrderEntity])

@import models.submodels.OrderState
@import helper._
@import components._

@contractorName = @{
  if(order.getContractor != null) {
    order.getContractor.name
  } else ""
}
@contractorId = @{
  if(order.getContractor != null) {
    order.getContractor.id
  } else ""
}

@contactName = @{
  if(order.getContact != null) {
    order.getContact.name
  } else ""
}

@contactId = @{
  if(order.getContact != null) {
    order.getContact.id
  } else ""
}

@main(""){
  @form(routes.Orders.update(order.getId), 'id -> "formSender") {
    <fieldset>
      @inputText(orderForm("name").copy(value=Some(order.name)),
        '_label -> "Наименование", 'class -> "form-control")
      @inputText(orderForm("number").copy(value=Some(order.number)),
        '_label -> "Номер", 'class -> "form-control")
      <div class="input-group">
      @inputText(orderForm("date").copy(value=Some(order.jsDate)),
        '_label -> "Дата",
        'class -> "form-control date-picker")
      </div>

      <dl id="contractor_field">
        <dt><label for="caption">Контрагент</label></dt>
        <dd>
          <a href="#" data-toggle="modal" data-target="#selectContractor">
            <div class="input-group">
              <input type="text" class="form-control" id="contractorCaption" aria-label="Контрагент" value="@contractorName">
              <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
          </a>
        </dd>
        <div class="hidden">
        @inputText(orderForm("contractor.id").copy(value = Some(contractorId)))
        </div>
      </dl>
      <dl id="contact_field">
        <dt><label for="caption">Контакт</label></dt>
        <dd>
          <a href="#" data-toggle="modal" data-target="#selectContact">
            <div class="input-group">
              <input type="text" class="form-control" id="contactCaption" aria-label="Контакт" value="@contactName">
              <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
          </a>
        </dd>
        <div class="hidden">
        @inputText(orderForm("contact.id").copy(value = Some(contactId)))
        </div>
      </dl>

      <div class="input-group">
      @inputText(orderForm("planExecutionDate").copy(value=Some(order.jsPlanExecutionDate())),
        '_label -> "Плановая дата выполнения",
        'class -> "form-control date-picker")
      </div>
      <div class="input-group">
      @inputText(orderForm("executionDate").copy(value=Some(order.jsExecutionDate())),
        '_label -> "Дата выполнения",
        'class -> "form-control date-picker")
      </div>
      @inputText(orderForm("amount").copy(value = Some(order.amount)), '_label -> "Итого", 'class -> "form-control")
      @inputText(orderForm("payment").copy(value = Some(order.payment)), '_label -> "Сумма оплаты", 'class -> "form-control")

      @selectEx(orderForm("orderState"), options(OrderState.options), order.getOrderState.name(),
        'class -> "form-control", '_label -> "Состояние заказа")
    </fieldset>
    <input type="submit" value="@Messages("actions.save")" onclick="convertDate()" class="btn btn-primary">
  }

  @listModal(Contractor.findAll(), "selectContractor", "contractorCaption", "contractor_id")
  @listModal(Contact.findAll(), "selectContact", "contactCaption", "contact_id")
}
