@(order: OrderEntity, orderForm: Form[OrderEntity])

@import utils.Util._
@import models.submodels.OrderState
@import models.submodels.PaymentState
@import models.submodels.SupplyState
@import models.submodels.SupplyPayment
@import helper._
@import components._

@contractorName = @{ name(order.getContractor) }
@contractorId = @{ id(order.getContractor) }

@contactName = @{ name(order.getContact) }
@contactId = @{ id(order.getContact) }


@main(""){
  @form(routes.Orders.update(order.getId), 'id -> "formSender") {
    <fieldset>

      @inputText(orderForm("name").copy(value=Some(order.name)),
        '_label -> "Наименование", 'class -> "form-control")

      @inputText(orderForm("number").copy(value=Some(order.number)),
        '_label -> "Номер", 'class -> "form-control")

      @date(orderForm("date"), order.jsDate, '_label -> "Дата",
        'class -> "form-control date-picker")

      @selectList(orderForm("contractor.id"), Contractor.findAll(), contractorId, contractorName,
        '_label -> "Контрагент", 'class -> "form-control")

      @selectList(orderForm("contact.id"), Contact.findAll(), contactId, contactName,
        '_label -> "Контакт", 'class -> "form-control")

      @date(orderForm("planExecutionDate"), order.jsPlanExecutionDate(), '_label -> "Плановая дата выполнения",
        'class -> "form-control date-picker")

      @date(orderForm("executionDate"), order.jsExecutionDate, '_label -> "Дата выполнения",
        'class -> "form-control date-picker")

      @inputText(orderForm("amount").copy(value = Some(order.amount)), '_label -> "Итого", 'class -> "form-control")

      @inputText(orderForm("payment").copy(value = Some(order.payment)), '_label -> "Сумма оплаты", 'class -> "form-control")

      @selectEx(orderForm("orderState"), options(OrderState.options), order.getOrderState.name(),
        'class -> "form-control", '_label -> "Состояние заказа")
      @selectEx(orderForm("paymentState"), options(PaymentState.options), order.getPaymentState.name(),
        'class -> "form-control", '_label -> "Состояние оплаты")
      @selectEx(orderForm("supplyState"), options(SupplyState.options), order.getSupplyState.name(),
        '_label -> "Состояние поставки", 'class -> "form-control")

      @selectList(orderForm("deal.id"), Deal.findAll(), name(order.getDeal), id(order.getDeal),
        '_label -> "Сделка", 'class -> "form-control")
      @selectList(orderForm("product.id"), Product.findAll(), name(order.getProduct), id(order.getProduct),
        '_label -> "Продукт", 'class -> "form-control")

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Тип</th>
            <th>Отсрочка, дней</th>
            <th>Дата, план</th>
            <th>Дата, факт</th>
            <th>Доля (%)</th>
            <th>Сумма, план</th>
            <th>Сумма, факт</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        @for(supplyPayment <- SupplyPayment.findList(order.getId)) {
          <tr>
            <td>@supplyPayment.getSupplyPaymentType.caption()</td>
            <td>@supplyPayment.getDelay</td>
            <td>@jsDate(supplyPayment.getPlanDate)</td>
            <td>@jsDate(supplyPayment.getFactDate)</td>
            <td>@supplyPayment.getPercentage</td>
            <td>@supplyPayment.getSumPlan</td>
            <td>@supplyPayment.getSumFact</td>
            <td></td>
          </tr>
          }
        </tbody>
      </table>

    </fieldset>


    <input type="submit" value="@Messages("actions.save")" onclick="convertDate()" class="btn btn-primary">
  }

}
