@(id: String, chart: List[models.chart.CircleChartData])

@import components.container

@container{
  var data@id = [
  @for(item <- chart){
    {
    value:@item.getValue,
    color:"@item.getColor",
    highlight:"@item.getHighlight",
    label:"@item.getLabel"
    },
  }
  ]

  add@id = function(){
    var ctx@id = document.getElementById("@id").getContext("2d");
    var options@id = {
      segmentShowStroke: false,
      animateRotate: true,
      animateScale: false,
      percentageInnerCutout: 50,
      tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>",
      legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"

  }
    window.pie@id = new Chart(ctx@id).Doughnut(data@id, options@id);
    document.getElementById('chartDealsLegend').innerHTML = (window.pie@id).generateLegend();
  };

  window.addEventListener("load", add@id)
}