@(chartDeals: List[models.chart.CircleChartData],
  salesFunnel: models.chart.BarChartData)

@import graphic._

@main(Messages("menu.graphics")){

  <div class="col-md-5">
    <canvas id="salesFunnel"></canvas>
    <p class="text-center">Воронка продаж</p>
  </div>

  <div class="clearfix"></div>

  <div class="col-md-5">
    <canvas id="chartDeals"></canvas>
    <p class="text-center">Соотношение сделок по типу</p>
  </div>
  <div class="col-md-7">
    <canvas id="chartLine"></canvas>
  </div>

  <script>
    @circleChart("chartDeals", chartDeals)
    @lineChart("chartLine")
    @horizontalBar("salesFunnel", salesFunnel)
  </script>
}