@(chart: List[models.chart.CircleChartData])

@import graphic._

@main(Messages("menu.graphics")){

  <div class="col-md-5">
    <canvas id="canvas"></canvas>
    <p class="text-center">Воронка продаж</p>
  </div>

  <div class="clearfix"></div>

  <div class="col-md-5">
    <canvas id="chartDeals"></canvas>
    <p class="text-center">Соотношение сделок по типу</p>
  </div>
  <div class="col-md-7">
    <canvas id="chartLine"></canvas>
  </div>

  <script>
    @circleChart("chartDeals", chart)
    @lineChart("chartLine")
    @horizontalBar
  </script>
}