@(id: String, chart: List[models.chart.BarChartData])

@import components.container

@container{

  var data@id = {
    labels : ["January","March","April","May","June","July"],
    datasets : [
    @for(item <- chart) {
      {
      fillColor : "@item.getFillColor",
      strokeColor : "@item.getStrokeColor",
      highlightFill : "@item.getHighlightFill",
      highlightStroke : "@item.getHighlightStroke",
      data : @item.getData
      }
    }
    ]
  }

  add@id = function(){
  var ctx@id = document.getElementById("@id").getContext("2d");
  window.pie@id = new Chart(ctx@id).HorizontalBar(data@id, { responsive: true, barShowStroke: false });
  };

  window.addEventListener("load", add@id)
}