@(id: String, chart: models.chart.BarChartData)

@import components.container

@container{


  var data@id = {
    labels : [
      @for(caption <- chart.getLabels) {
        "@caption",
      }
    ],
    datasets : [
      {
      fillColor : "@chart.getFillColor",
      strokeColor : "@chart.getStrokeColor",
      highlightFill : "@chart.getHighlightFill",
      highlightStroke : "@chart.getHighlightStroke",
      data : @chart.getData
      }
    ]
  }

  add@id = function(){
  var ctx@id = document.getElementById("@id").getContext("2d");
  window.pie@id = new Chart(ctx@id).HorizontalBar(data@id, { responsive: true,
    tooltipEvents: ["mousemove", "touchstart", "touchmove"],barShowStroke : true });
  };

  window.addEventListener("load", add@id)
}