@(content : Html)
<h1>Footer</h1>
  </div>
<!-- /layout -->
</div>
<!-- /row main -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="@routes.Assets.at("javascripts/jquery.maskedinput.min.js")"></script>
<script src="@routes.Assets.at("javascripts/main.js")"></script>
<script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.min.js")"></script>
<script src="@routes.Assets.at("javascripts/ru.js")"></script>
<script src="@routes.Assets.at("javascripts/Chart.min.js")"></script>
</body>
</html>