@(content : Html)
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

</head>
<body>
<!-- row main -->
<div class="row">
  <div class="col-md-2 header">@menu(content)</div>
  <!-- layout -->
  <div class="col-md-9">




<h1>Head</h1>