@(content : Html)

<ul class="nav nav-pills nav-stacked">
  <li><a href="/">
    <span class="glyphicon glyphicon-th"></span>
    Графики</a></li>
  <li><a href="@routes.Contacts.contacts()">
    <span class="glyphicon glyphicon-user"></span>
    Контакты</a></li>
  <li><a href="@routes.Contractors.contractors()">
    <span class="glyphicon glyphicon-sunglasses"></span>
    Контрагенты</a></li>
  <li><a href="@routes.Sales.sales()">
    <span class="glyphicon glyphicon-usd"></span>
    Продажи</a></li>
</ul>