@(content : Html)

<ul class="nav nav-pills nav-stacked">
  <li><a href="/graphs">
    <i class="fa fa-bar-chart"></i>
    @Messages("menu.graphics")</a></li>
  <li><a href="@routes.Contacts.contacts()">
    <i class="fa fa-user"></i>
    @Messages("menu.contacts")</a></li>
  <li><a href="@routes.Contractors.contractors()">
    <i class="fa fa-building"></i>
    @Messages("menu.contractors")</a></li>
  <li><a href="@routes.Deals.deals()">
    <i class="fa fa-money"></i>
    @Messages("menu.deals")</a></li>
  <li><a href="@routes.Products.products()">
    <i class="fa fa-suitcase"></i>
    @Messages("menu.products")</a></li>
  <li><a href="@routes.Orders.orders()">
    <i class="fa fa-shopping-cart"></i>
    @Messages("menu.orders")</a></li>
</ul>