@(content : Html)

<ul class="nav nav-pills nav-stacked">
  <li><a href="/graphs">
    <span class="glyphicon glyphicon-th"></span>
    Графики</a></li>
  <li><a href="@routes.Contacts.contacts()">
    <span class="glyphicon glyphicon-user"></span>
    Контакты</a></li>
  <li><a href="@routes.Contractors.contractors()">
    <span class="glyphicon glyphicon-tower"></span>
    Контрагенты</a></li>
  <li><a href="@routes.Sales.sales()">
    <span class="glyphicon glyphicon-briefcase"></span>
    Продажи</a></li>
</ul>