@(contacts: List[Contact])

@import helper._

@main("Контакты"){

  <a href="@routes.Contacts.add()" class="btn btn-primary">Добавить контакт</a>

  @for(contact<-contacts){
    <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <a href="@routes.Contacts.contact(contact.getId)"><h4>@contact.getName</h4></a>
          @if(contact.getContractor()!=null) {
            <span class="text-muted">Контрагент</span><br>
            <a href="@routes.Contractors.contractor(contact.getContractor.getId)">
              @contact.getContractor().getName()
            </a>
          }
        </div>
        <div class="col-md-3">
        @if(contact.getCommunication != null) {
          @if(contact.getCommunication.getWorkPhone != "") {
            <span class="text-muted">Рабочий телефон</span>
            <p><abbr title="Рабочий телефон"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></abbr>
            @contact.getCommunication.getWorkPhone</p>
          }
          @if(contact.getCommunication.getMobilePhone != "") {
            <span class="text-muted">Мобильный телефон</span><br>
            <p><abbr title="Мобильный телефон"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></abbr>
            @contact.getCommunication.getWorkPhone<p>
          }

        }
        </div>
        <div class="col-md-3">
          <address>
            <span class="text-muted">Адрес</span><br>
            <p><abbr title="Адрес"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></abbr>
            @contact.getAdress</p>

            @if(contact.getCommunication != null) {
              <span class="text-muted">Электронная почта</span><br>
              <p><abbr title="Электронная почта"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></abbr>
              @contact.getCommunication.getEmail</p>
            }
          </address>

        </div>
        <div class="col-md-1">
          <p>
          <a href="@routes.Contacts.contact(contact.getId)" class="btn btn-primary btn-sm">
            <i class="fa fa-eye"></i>
          </a></p>
          @form(routes.Contacts.delete(contact.getId)) {
            <button name="deleteContact"  data-toggle="modal" onclick="confirmDelete('fdfd')" class="btn btn-default btn-sm">
              <i class="fa fa-trash-o fa-lg"></i>
            </button>
          }
        </div>
      </div>
    </div>
    </div>


  }
  <div id="confirmModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Удалить контакт?</h4>
        </div>
        <div class="modal-body">
          <h5 id="text-in-a-modal">Подтвертите, если хотите удалить контакт. Удаленные данные будет невозможно восстановить</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="yesButton">Удалить</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>


}
