@(contact: Contact, contactForm: Form[Contact])

@import components.fields.iconField
@import components._
@import helper._
@import utils.Util._

@communication = @{contact.getCommunication}
@contractorName = @{ name(contact.getContractor) }
@contractorId = @{ id(contact.getContractor) }

@main(Messages("menu.contacts")){
  @form(action = routes.Contacts.update(contact.getId),  'class -> "dl-horizontal") {
    <fieldset>
      <div class="col-md-8">
        <div class="col-md-8">
          @inputText(contactForm("name").copy(value = Some(contact.name)),
            '_label -> Messages("contact.name"), 'class -> "form-control")
        </div>
        <div class="clearfix"></div>
        <div class="col-md-8">
        @if(contact.getContractor != null) {
          @selectList(contactForm("contractor.id"), Contractor.findAll(), contractorId, contractorName,
            '_label -> "Контрагент", 'class -> "form-control")
        } else {
          Контрагент не указан
        }
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          @inputText(contactForm("post").copy(value = Some(contact.getPost)),
            '_label -> Messages("contact.post"), 'class -> "form-control")
        </div>
      </div>


    </fieldset>
  }

  <div class="clearfix"></div>
  <hr>
  <div class="tab-pane fade active in" id="general">
    <div class="panel-body">

      <h4>Средства связи</h4>
      <div class="row">
        <div class="col-md-4">
          @iconField(communication.getWorkPhone, "Рабочий телефон", "fa-phone")
          @iconField(communication.getMobilePhone, "Мобильный телефон", "fa-mobile")
          @iconField(communication.getHomePhone, "Домашний телефон", "fa-phone-square")
        </div>
        <div class="col-md-4">
          @iconField(communication.getEmail, "Электронная почта", "fa-envelope-o")
          @iconField(communication.getSkype, "Skype", "fa-skype")
          @iconField(communication.getOther, "Другой вид связи", "fa-bullhorn")
        </div>
        <div class="col-md-4">
          @iconField(communication.getWww, "Сайт", "fa-globe")
          @iconField(communication.getSocialAccount, "Профиль в соцсетях", "fa-vk")
        </div>

      </div>
      <hr>
      <h4>Адрес</h4>
      <p><abbr title="Адрес"><i class="fa fa-map-marker fa-lg"></i></abbr>
        @contact.getAdress</p>

    </div>
  </div>



}
