@(contacts: List[Contact])

@main("Контакты"){

  <a href="@routes.Contacts.add()" class="btn btn-primary">Добавить контакт</a>

  @for(contact<-contacts){
  <div class="panel panel-info">
    <div class="panel-heading">
      <a href="@routes.Contacts.contact(contact.getId)"><h3 class="panel-title">@contact.getName</h3></a>
    </div>
    <div class="panel-body">
      <p>@contact.getPost</p>
      <p>@contact.getAdress</p>
      @if(contact.getContractor()!=null) {
        <p>@contact.getContractor().getName()</p>
      }

    </div>
  </div>

  }
}
