@(dealForm: Form[Deal])

@import controllers.Application.getCurrentDate
@import helper._
@import components._

@main(Messages("actions.addDeal")){

  @form(routes.Deals.save(), 'class -> "dl-horizontal", 'id -> "formSender") {
    <fieldset>
      @inputText(dealForm("name"), '_label -> null, 'class -> "form-control", 'placeholder -> "Наименование")
      @select(
        dealForm("dealPhase.id"),
        options(DealPhases.options),
        '_label -> "Стадия", '_default -> "-- Выбрать --",
        '_showConstraints -> false, 'class -> "form-control")

      @selectList(dealForm("contractor.id"), Contractor.findAll(), "", "",
        '_label -> "Контрагент", 'class -> "form-control")

      @inputText(dealForm("budget"),'_label -> "Бюджет", 'class -> "form-control")

      @date(dealForm("startDate"), getCurrentDate, '_label -> "Дата регистрации сделки",
        'class -> "form-control date-picker")

      @date(dealForm("endDate"), getCurrentDate, '_label -> "Дата завершения сделки",
        'class -> "form-control date-picker")

    </fieldset>
    <input type="submit" value="@Messages("actions.create")" onclick="convertDate()" class="btn btn-primary">
  }
}
