@(dealForm: Form[Deal])

@import controllers.Application.getCurrentDate
@import helper._
@import components._

@main(Messages("actions.addDeal")){

  @form(routes.Deals.save(), 'class -> "dl-horizontal", 'id -> "formSender") {
    <fieldset>
      @inputText(dealForm("name"), '_label -> "Наименование", 'class -> "form-control")

      @selectEx(dealForm("dealPhase.id"), options(DealPhase.options), null,
        '_label -> "Стадия", 'class -> "form-control")

      @selectList(dealForm("contractor.id"), Contractor.findAll(), "", "",
        '_label -> "Контрагент", 'class -> "form-control")

      @inputText(dealForm("budget"),'_label -> "Бюджет", 'class -> "form-control")

      @date(dealForm("startDate"), getCurrentDate, '_label -> "Дата начала",
        'class -> "form-control date-picker")

      @date(dealForm("endDate"), getCurrentDate, '_label -> "Дата завершения",
        'class -> "form-control date-picker")

    </fieldset>
    <input type="submit" value="@Messages("actions.create")" onclick="convertDate()" class="btn btn-primary">
  }
}
