@(deals: List[Deal])

@main("Сделки"){

  <a href="@routes.Deals.add()" class="btn btn-primary">@Messages("actions.addDeal")</a>
  <p>&nbsp;</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Название сделки</th>
        <th>Контрагент</th>
        <th>Стадия</th>
        <th>Бюджет</th>
      </tr>
    </thead>
    <tbody>
      @for(deal<-deals){
        <tr>
          <td><a href="@routes.Deals.deal(deal.getId)">@deal.getName</a></td>
          <td>
          @if(deal.getContractor != null) {
            <a href="@routes.Contractors.contractor(deal.getContractor.getId)">
            @deal.getContractor.getName
            </a>
          }
          </td>
          <td>@if(deal.getDealPhase != null) {
            @deal.getDealPhase.getName
          } else {
            @Messages("info.null")
          }</td>
          <td>@deal.getBudget</td>
        </tr>
      }
    </tbody>
  </table>
}
