@(deals: List[Deal])

@main("Сделки"){


  <table class="table table-hover">
    <thead>
      <tr>
        <th>Номер</th>
        <th>Имя</th>
        <th>Контрагент</th>
      </tr>
    </thead>
    <tbody>
      @for(deal<-deals){
        <tr>
          <th scope="row">@deal.getId</th>
          <td><a href="@routes.Deals.deal(deal.getId)">@deal.getName</a></td>
          <td>
          @if(deal.getContractor != null) {
            @deal.getContractor.getName
          }
          </td>
        </tr>
      }
    </tbody>
  </table>
}
